In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import abc_load as abc

In [3]:
import anndata as ad
import numpy as np
import pandas as pd

In [4]:
prong1_cluster_annotations_file = '../code/resources/Prong 1 Vitessce links by nucleus.csv'
prong1_df = pd.read_csv(prong1_cluster_annotations_file)

In [5]:
prong1_df.head(5)

,nuclei,annotated subclasses,annotated supertypes,annotated clusters,viewer link,notes for next update (e.g. remove cluster x)
0,AD,065 AD Serpinb7 Glut,0257 AD Serpinb7 Glut,"1095, 1096","http://vitessce.io/?url=data:,%7B%22version%22...",
1,AM,069 TH Prkcd Grin2c Glut,"0283 TH Prkcd Grin2c Glut_9, 0282 TH Prkcd Gri...","1169, 1163, 1170, 1171","http://vitessce.io/?url=data:,%7B%22version%22...",
2,AV,066 AV Col27a1 Glut,0258 AV Col27a1 Glut,"1097, 1098","http://vitessce.io/?url=data:,%7B%22version%22...",
3,CM,068 CM-IAD-CL-PCN Glut,0266 CM-IAD-CL-PCN Glut_2,"1119, 1120, 1121","http://vitessce.io/?url=data:,%7B%22version%22...",
4,CM PCN CL,068 CM-IAD-CL-PCN Glut,0265 CM-IAD-CL-PCN Glut_1,"1116, 1115, 1117, 1118","http://vitessce.io/?url=data:,%7B%22version%22...",

In [6]:
file = 'cluster_to_cluster_annotation_membership.csv'
cluster_memb_df_20230630 = pd.read_csv(
                            abc.ABC_ROOT/f'metadata/WMB-taxonomy/20230630/{file}'
                            )

cluster_memb_df_20230830 = pd.read_csv(
                            abc.ABC_ROOT/f'metadata/WMB-taxonomy/20230830/{file}'
                            )

cluster_memb_df_20231215 = pd.read_csv(
                            abc.ABC_ROOT/f'metadata/WMB-taxonomy/20231215/{file}'
                            )

# Taxonomy comparison

## How do the versions cluster id #s compare?

In [7]:
# compare known mapping for anterior nuclei cluster ids
# 20230630:
#  - AD: 1095, 1096
#
# 20230830: 
#  - AD: 2613, 2614

In [8]:
# 20230830 version's cluster 2613 matches the AD supertype
cluster_memb_df_20230830[(cluster_memb_df_20230830['cluster_annotation_term_set_name']=='cluster')
                        & (cluster_memb_df_20230830['cluster_annotation_term_name'].str.contains('2613'))]

,cluster_annotation_term_label,cluster_annotation_term_set_label,cluster_alias,cluster_annotation_term_name,cluster_annotation_term_set_name,number_of_cells,color_hex_triplet
2612,CS20230722_CLUS_2613,CCN20230722_CLUS,5020,2613 AD Serpinb7 Glut_1,cluster,587,#CC6D3D

In [9]:
# 20230630 version's cluster 2613 does NOT match the AD supertype
cluster_memb_df_20230630[(cluster_memb_df_20230630['cluster_annotation_term_set_name']=='cluster')
                         & (cluster_memb_df_20230630['cluster_annotation_term_name'].str.contains('2613'))]

,cluster_annotation_term_label,cluster_annotation_term_set_label,cluster_alias,cluster_annotation_term_name,cluster_annotation_term_set_name,number_of_cells,color_hex_triplet
2609,CCN20230504_CLUS_2613,CCN20230504_CLUS,2144,2613 PH-LHA Foxb1 Glut_1,cluster,46,#99342E

In [10]:
# BUT v20230630 & v20230830 cluster_alias both have the same supertype name
cluster_memb_df_20230630[(cluster_memb_df_20230630['cluster_annotation_term_set_name']=='cluster')
                         & (cluster_memb_df_20230630['cluster_alias']==5020)]

,cluster_annotation_term_label,cluster_annotation_term_set_label,cluster_alias,cluster_annotation_term_name,cluster_annotation_term_set_name,number_of_cells,color_hex_triplet
1093,CCN20230504_CLUS_1095,CCN20230504_CLUS,5020,1095 AD Serpinb7 Glut,cluster,595,#5C82CC

In [11]:
# 20231215 version's cluster 2613 is the same as 20230830 - stable
cluster_memb_df_20231215[(cluster_memb_df_20231215['cluster_annotation_term_set_name']=='cluster')
                         & (cluster_memb_df_20231215['cluster_annotation_term_name'].str.contains('2613'))]

,cluster_annotation_term_label,cluster_annotation_term_set_label,cluster_alias,cluster_annotation_term_name,cluster_annotation_term_set_name,number_of_cells,color_hex_triplet
2612,CS20230722_CLUS_2613,CCN20230722_CLUS,5020,2613 AD Serpinb7 Glut_1,cluster,587,#CC6D3D

## What about supertypes?

In [12]:
# supertype id #s also changed from 20230630 to 20230830
cluster_memb_df_20230630[(cluster_memb_df_20230630['cluster_annotation_term_set_name']=='supertype')
                        & (cluster_memb_df_20230630['cluster_alias']==5020)]

,cluster_annotation_term_label,cluster_annotation_term_set_label,cluster_alias,cluster_annotation_term_name,cluster_annotation_term_set_name,number_of_cells,color_hex_triplet
6289,CCN20230504_SUPT_0257,CCN20230504_SUPT,5020,0257 AD Serpinb7 Glut,supertype,595,#3D4066

In [13]:
# supertype id #s also changed from 20230630 to 20230830
cluster_memb_df_20230830[(cluster_memb_df_20230830['cluster_annotation_term_set_name']=='supertype')
                        & (cluster_memb_df_20230830['cluster_alias']==5020)]

,cluster_annotation_term_label,cluster_annotation_term_set_label,cluster_alias,cluster_annotation_term_name,cluster_annotation_term_set_name,number_of_cells,color_hex_triplet
7934,CS20230722_SUPT_0641,CCN20230722_SUPT,5020,0641 AD Serpinb7 Glut_1,supertype,587,#3D4066

# Update csv to include new taxonomy cluster ids + stable cluster aliases

## Rename columns to distinguish taxonomy versions

In [14]:
ait17_columns = {
    'annotated subclasses':'subclasses_AIT17',
    'annotated supertypes':'supertypes_AIT17',
    'annotated clusters':'cluster_ids_AIT17'
}

prong1_df = prong1_df.rename(columns=ait17_columns)

## Map taxonomy versions via stable cluster_alias

In [15]:
old_cl_df = cluster_memb_df_20230630
new_cl_df = cluster_memb_df_20230830
cl_annot_col = 'cluster_annotation_term_name'

prong1_df['cluster_alias'] = None
prong1_df['cluster_ids_CNN20230720'] = None
# prong1_df['supertype_labels_CNN20230720'] = None

for row, cluster_list in enumerate(
    prong1_df['cluster_ids_AIT17']):
    cluster_list = cluster_list.split(', ')
    
    # would love to do this vectorwise, but str.startswith(tuple()) weirdly
    # doesn't recognize a tuple stored in a variable as containing multiple strings
    cluster_alias_list = []
    cluster_id_list = []
    # supertype_label_list = []
    for cl_id in cluster_list:
        # get the cluster_alias from the 20230630 cluster annotation set
        old_cl_row = old_cl_df[old_cl_df[cl_annot_col].str.startswith(cl_id)]
        cl_alias = old_cl_row['cluster_alias'].values[0]
        # add to the Prong1 csv
        cluster_alias_list.append(cl_alias)
        # get the row of the new annotation set that matches the stable cluster_alias
        new_cl_row = new_cl_df[new_cl_df['cluster_alias']==cl_alias]
        # get the updated cluster_id
        cluster_id_list.append(new_cl_row['cluster_annotation_term_name'].values[0][0:4])
        # supertype_label_list.append(cl_row['cluster_annotation_term_name'].values[0][5:])
        
    prong1_df['cluster_alias'][row] = cluster_alias_list
    prong1_df['cluster_ids_CNN20230720'][row] = cluster_id_list
    # prong1_df['supertype_labels_CNN20230720'][row] = supertype_label_list

In [16]:
prong1_df.head(5)

,nuclei,subclasses_AIT17,supertypes_AIT17,cluster_ids_AIT17,viewer link,notes for next update (e.g. remove cluster x),cluster_alias,cluster_ids_CNN20230720
0,AD,065 AD Serpinb7 Glut,0257 AD Serpinb7 Glut,"1095, 1096","http://vitessce.io/?url=data:,%7B%22version%22...",,"[5020, 5021]","[2613, 2614]"
1,AM,069 TH Prkcd Grin2c Glut,"0283 TH Prkcd Grin2c Glut_9, 0282 TH Prkcd Gri...","1169, 1163, 1170, 1171","http://vitessce.io/?url=data:,%7B%22version%22...",,"[5041, 5088, 5042, 5043]","[2674, 2668, 2675, 2676]"
2,AV,066 AV Col27a1 Glut,0258 AV Col27a1 Glut,"1097, 1098","http://vitessce.io/?url=data:,%7B%22version%22...",,"[5022, 5023]","[2615, 2616]"
3,CM,068 CM-IAD-CL-PCN Glut,0266 CM-IAD-CL-PCN Glut_2,"1119, 1120, 1121","http://vitessce.io/?url=data:,%7B%22version%22...",,"[5095, 5097, 5098]","[2637, 2638, 2639]"
4,CM PCN CL,068 CM-IAD-CL-PCN Glut,0265 CM-IAD-CL-PCN Glut_1,"1116, 1115, 1117, 1118","http://vitessce.io/?url=data:,%7B%22version%22...",,"[5038, 5036, 5039, 5100]","[2634, 2633, 2635, 2636]"

## Save out to new csv

In [17]:
new_prong1_file = '../code/resources/prong1_cluster_annotations_by_nucleus.csv'
prong1_df.to_csv(new_prong1_file)

## demonstration of var=tuple not working with str.startswith

In [18]:
# prong1_df.head(5)

In [19]:
# test_clusters = prong1_df['annotated clusters'][0].split(',')
# test_clusters

In [20]:
# # cluster_memb_df_20230630[cluster_memb_df_20230630['cluster_annotation_term_name'].str.startswith(tuple(test_clusters))]#['cluster_alias']
# test_clusters = tuple(test_clusters)
# cluster_memb_df_20230630.query("cluster_annotation_term_name.str.startswith(@test_clusters, na=False)")['cluster_alias'].values[0]
# # cluster_memb_df_20230630[cluster_memb_df_20230630['cluster_annotation_term_name'].str.startswith(tuple(test_clusters), na=None)]

In [21]:
# cluster_memb_df_20230630[cluster_memb_df_20230630['cluster_annotation_term_name'].str.startswith(('1095','1096'), na=None)]

In [22]:
# ughhhhhhhhhhhhh, why is it not recognizing the tuple as a tuple??????
# https://stackoverflow.com/questions/75595060/pandas-dataframe-query-series-str-startswith-tuple-returns-empty